        /* background:linear-gradient(-2deg, rgb(255, 255, 255) 39.7%, rgba(0, 0, 0, 0) 40%), linear-gradient(89.16deg, #072038 1.27%, #0A355F 99.82%); */

    /* main====================================================================== */


    li{
        list-style: none;
    }

/* Meet the future of your organization today-------------------------------------------------------- */


#meetTheFutur{
    background:linear-gradient(-3.5deg, rgb(255, 255, 255) 9.9%, rgba(0, 0, 0, 0) 10%), linear-gradient(89.16deg, #072038 1.27%, #0A355F 99.82%);
    height: 1000px;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#meetTheFutur .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: calc(100vw - 160px);
    height: 630px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

#meetTheFutur .left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white ;
}

#meetTheFutur h1{
    font-size: 72px;
    line-height: 89px;
    margin: 0;
    font-family: 'Outfit';
    font-weight: 600;
    overflow: hidden;
}

#meetTheFutur h1 span{
    transform: translateY(100%);
    display: block;
}

#meetTheFutur h1:nth-child(1) span{
    animation: upTitle 0.4s 0.3s forwards;
}

#meetTheFutur h1:nth-child(2) span{
    animation: upTitle 0.4s 0.4s forwards;
}

#meetTheFutur h1:nth-child(3) span{
    animation: upTitle 0.4s 0.5s forwards;
}

#meetTheFutur h1:nth-child(4) span{
    animation: upTitle 0.4s 0.6s forwards;
}



@keyframes upTitle {
  from {
    transform: translateY(100%);
  }
  
  to{
    transform: translateY(-20%);
  }
}




#meetTheFutur .right img{
    height: 456px ;
}

.logoClients{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleColor{
    color: #26C1D9 ;
}

#textSlide{
    transform: rotate(-3.5deg);

}

.textSlide {
    width: 16000px;
    margin-top: 90px;
    position: relative;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 160px;
    text-align: center;
    text-transform: uppercase;
    color: #26c1d9;
    animation: slideText 40s linear infinite;
}

@keyframes slideText {
    from{
        transform: translate(1450px);
        /* transform: translate(0%); */
    }
    to{
        transform: translate(-6700px);
        /* transform: translate(-40%); */
    }  
}

.textSlide span{
    -webkit-text-stroke: 2px #26c1d9;
    /* j'ai pas de meilleur solution avec cette police pour avoir juste la bordure */
    color: rgba(250, 250, 250, 0);
}



/* --------------------------------------------------------Meet the future of your organization today */


/* Get out of the chaos-------------------------------------------------------------------------------- */

#chaos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

#chaos img{
    width: 1062px;
    height: 423px;
    margin-top: 87px;
    z-index: 10;
}

#chaos .content{
    display: flex;
    flex-direction: row;
    width: 1062px ;
}

#chaos .left{
    width: 50%;
}

#chaos .left h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    color: #072038;
    margin: 0;
}

#chaos .right{
    width: 50%;
}

#chaos .right p{
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #072038;
}


/* --------------------------------------------------------------------------------Get out of the chaos */

/* How we help tackle these challenges?----------------------------------------------------------------- */

#challenge{
    background:linear-gradient(-3.5deg, rgb(255, 255, 255) 9.9%, rgba(0, 0, 0, 0) 10%), linear-gradient(89.16deg, #072038 1.27%, #0A355F 99.82%);
    padding-top: 340px ;
    padding-bottom: 360px ;
    transform: translateY(-212px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#challenge .title{
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;

}

#challenge .card{
    background-color: #fff;
    width: 90vw ;
    height: 800px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    color: #000;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#challenge .card .text{
    width: 50%;
    padding-right: 70px;
}

#dataFactory .illustration{
   margin: auto;
    height: 100%;
}

#dataFactory .text{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text h1{
    margin-top: 71px;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
}

.text h1 img{
    height: 38px;
    margin-right: 24px ;
}





#propilot .text {
    margin-left: 64px;
}

#propilot .illustration{
    right: 0;
    height: 100%;

}











/* -----------------------------------------------------------------How we help tackle these challenges? */























    /* ======================================================================main */